#root {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4rem auto 1fr 4rem;
    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
}
.header {
    grid-area: header;
}
.main {
    grid-area: main;
    align-self: start;
}
.aside {
    grid-area: aside;
}
.footer {
    grid-area: footer;
}

@media (min-width: 45rem) {
    #root {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 4rem auto 4rem;
        grid-template-areas:
                "header header"
                "main aside"
                "footer footer";
    }
}